@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.nav_menu {
    padding: 50px;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_item {
    width: 80%;
    display: flex;
}

.nav_menu ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    
}

.nav_link {
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
}

.my_photo {
   width: 15%; 

}

.nav_menu img {
    width: 100%;
    overflow: hidden;
    border-radius: 10px
}

