.resume-container {
    width: 70%;
    margin: auto;
}

.resume-container h2 {
    color:whitesmoke;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    margin-bottom: 40px;

}

.resume-container p {
    color:whitesmoke;
    line-height: 2;
    font-size: 25px;
}

.resume-container a {
    text-decoration: none;
    color: rgb(0, 119, 255);
    font-size: 35px;
    margin-left: 20px;
}

.resume-certificate img {
    width: 100%;
}

.resume-certificate h3 {
    color:whitesmoke;
    font-size: 35px;
    margin: 40px 0;
}
    