@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .planet {    
    width: 30%;
    animation: rotate 60s linear infinite; 
  }

  .planet img {
      width: 100%;
      overflow: hidden;
      border-radius: 50%;
      
  }
  