* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:url(./img/sterne-himmel-sternenhimmel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



