@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slider_block {
    color: rgb(152, 228, 228);
}

.slider_block h2 {
    font-size: 25px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.slider_block img {
    width: 100%;
    overflow: hidden;
}

.slick-slider {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.slick-list {
    height: 100%;
}